.logo{

    text-align: center;
    width:100px;
    height:100px;
    position: absolute;
    top: 10px; /* Adjust for padding from top */
    left: 10px; /* Adjust for padding from left */
    z-index: 1000; 
}